.information-area {
    align-self: center;
    margin-right: 0px;
}

.information-title {
    font-size: 55px;
    text-align: left;
}

.information-list {
    text-align: left;
    font-size: 20px;
}

.information-list li {
    margin-bottom: 2vh;
}

.information-list ul {
    padding-left: 20px;
}

.expert-photo {
    margin: 8px 15px;
}

.information-area-images {
    justify-content: flex-end;
}

.expert-photo img {
    width: 110%;
    height: 100%;
}